{% extends "base.html" %}
{% import 'contents_macros.html' as layout with context -%}

{% block additionalscripts %}
    {{ layout.googlescripts() }}
{% endblock %}


{% block body %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>PAAF sureys</h1>
    {#        <p><a class="btn btn-primary btn-lg" href="https://github.com/gabrielssilva/flasktasks">Source code</a></p>#}
        </div>
    </div>




    <div class="container" >

        <div class="row">

            <ul>
                <li><a href="/admin">Admin</a></li>
                <hr/>
                <li><a href="{{ url_for('add_park') }}">Create PA</a></li>
                <li><a href="{{ url_for('add_pa_assets', park_id=1) }}">Attribute PA Criteria</a></li>
                <li><a href="{{ url_for('survey', park_id=1) }}">Survey PA</a></li>
            </ul>


        </div>


    </div>









{% endblock %}
