{% extends "base.html" %}

{% block additionalscripts %}
{% endblock %}
{% block body %}


    <div class="container">
        <h2>My Computers</h2>
        {% if wol_computers|count>0 %}
            Wake and access your computers by remote desktop.

            <ul>
                {% for w in wol_computers %}
                    <li style="padding-top: 10px">{{ w.computer }}:
                        <form action="{{ url_for("wakeonlan", computer_id=w.id) }}" method="POST">
                            {% if w.get_status() == 3 %}
                                <button class="btn disabled {{ w.status_style() }}">Awake</button>
                                <a href="https:/it-dev.ouce.ox.ac.uk/guacamole/#/client/c/{{ w.get_guac_id() }}" class="btn {{ w.status_style() }}">Remote Desktop (RDP web)</a>
                                <input type="submit" class="btn {{ w.status_style() }}" name="wake" value="Remote Desktop (RDP app)"/>
                            {% elif w.get_status() == 2 %}
                                <p>Problems connecting to {{ w.computer }}, please contact SoGE IT.</p>
                                <button class="btn disabled {{ w.status_style() }}">Wake"</button>
                                <button class="btn disabled {{ w.status_style() }}">Remote Desktop (web)</button>
                                <button class="btn disabled {{ w.status_style() }}">Remote Desktop (RDP app)</button>
                            {% else %}
                                <input type="submit" class="btn {{ w.status_style() }}" name="wake" value="Wake"/> -
                                <button class="btn disabled {{ w.status_style() }}">Remote Desktop (web)</button>
                                <button class="btn disabled {{ w.status_style() }}">Remote Desktop (RDP app)</button>
                            {% endif %}
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            No machines registered to this username.
        {% endif %}
    </div>

{% endblock %}